<ion-view title="Home" hide-nav-bar="true" can-swipe-back="true">
  <div class="bar bar-header bar-custon-1">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">Ajustes</h1>
  </div>
  <ion-content class="has-header content">
    <div class="list">
      <a class="item item-icon-left">
        <i class="icon ion-social-github"></i>
        Github
      </a>
      <div class="item item-divider"></div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-help-buoy"></i>
        Suporte
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
  </ion-content>
</ion-view>